
.all-body{
    /*width: 980px;*/
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    background-color: #ffffff;
    display: flex;
    height: auto;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;

}
.header{
    background-color:#dcdcdc;
}
.header-top{
    margin: 0 auto;
    height: 230px;
    width:980px;
    display: flex;
    justify-content: space-between;
}
.header-phone-number{
    display: flex;
    align-items: center;

}
.num-txt{
    /*font-family: 'Open Sans Condensed';*/
    font-size: 33px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #767676;

}
.header-logo{
    width: 273px;
    height: 100px;
    display: flex;
    justify-content: center;


}
.header-left{
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
}
.header-right{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.menu{
    background-color: #777777;
    height:80px;
    display: flex;
    justify-content: center;
    align-content: center;



}
menu li:after{
    content: "|";
    letter-spacing: 10px;
    padding-left: 10px;

}

menu li:last-child:after{
    content: "";
}

a:hover{
    border-bottom: 2px solid #ffffff;

}

.menu-txt{
    width: 980px;
    margin-top: 20px;
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;

}
menu a{
    text-decoration: none;
}
.b_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider{
    overflow: hidden;
    margin-bottom: 490px;
    display: flex;
    justify-content: center;

}
.slider img {
    position: absolute;

}
.mid{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}
.mid-container{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.left-mid{

}
.mid-block{
    background-color: #777777;
    width: 265px;
    height: auto;
padding-left: 33px;
    padding-right: 52px;

   


}
.mid-txt{
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    line-height:22px;
    font-style: normal;
    text-decoration: none;

}
.archive{
    text-decoration: underline;
    margin-left: 143px;
    padding-bottom: 100px;

}

.mid-txt a{
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    line-height:22px;
    font-style: normal;
    text-decoration: none;

}
.news-header{
    font-family: 'PT Sans';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    line-height:22px;
    font-style: normal;
    text-decoration: none;
    padding-top: 22px;

}
.right-mid{
    width:auto;
    height: auto;

}
.right-mid-txt{
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #bbbbbb;
    width: 569px;
    height: 493px;


}
.m-r-header{
    font-family: 'PT Sans';
    font-size: 40px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #bbbbbb;
}

.footer-b{
    background-color: #777777;
    display: flex;
    margin-top: 190px;
    width: 100%;
}
.footer-conrainer{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.f-left{
    background-color: transparent;

    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;

    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.f-mid{
    background-color: transparent;

    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;

    display: flex;
    align-items: center;
    margin-bottom: 45px;


}
.bottom-txt li{
    /*border-bottom: 1px solid #ffffff;*/
text-decoration: underline;
}
.f-right{
    background-color: transparent;
    display: flex;
    flex-direction: row;


    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;

    display: flex;
    align-items: center;
    margin-bottom: 45px;

}
.b-logo{
    width: 40px;
    height: 38px;
}



menu a{
    color: #ffffff;
}