body{
    margin: 0 auto;

}
.all-body{
    width: 980px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    height: 1000px;


}
.header-top{
    background-color:greenyellow;
    height: 230px;
    width:980px;
    display: flex;
    flex-direction: column;

}
.header-left{
    background-color: aquamarine;
    display: flex;
    justify-content: flex-start;
}
.header-right{
    background-color: cyan;
    display: flex;
    justify-content: flex-end;
}

